

.accordion.light
{
	/*border:1px solid #e5e5e5;*/
	/*box-shadow:0px 0px 1px 0.5px rgba(0,0,0,0.4);*/
}

.accordion.light .btn
{
	display:block;
	background:#cfcfcf;
	padding:5px;
background: #F7F7F1; /* Old browsers */
border-bottom:1px solid #e5e5e5;

	
}

.accordion.light > .btn.active
{
		background:#cfcfcf;
}

